{% load static %}
<header>
    <nav style="background-color: lightskyblue; padding: 10px 20px; display: flex; justify-content: space-between;align-items: center;">
        <img src="{% static "Icon.png" %}" alt="Логотип магазина" style="height: 40px;">
        {% if user.is_authenticated %}
        <div style="display: flex; align-items: center;">
            <span style="margin-right: 10px; font-weight: bold;"> Привет {{ user.get_full_name'default:user.username }}!</span>
            <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Выход</button>
            </form>
        </div>
        {% elif request.resolver_match.url_name != 'login' %}
        <a href="{% url 'login' %}"></a>
        {% endif %}
    </nav>
</header>