{% extends "base.html" %}

{% block title %}
страница входа
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <label for="username">Логин</label>
    <input type="text" name="username" id="username">
    
    <label for="password">Пароль</label>
    <input type="password" name="password" id="password">
    
    <button type="submit">Войти</button>
</form>


{% if form.errors %}
<p>неверный логин или пароль</p>
{% endif %}
<div>
    <a href="{% url 'project_app:product_list' %}">войти без авторизаций</a>
    
</div>

{% endblock %}
