<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>список товаров. вы вошли как {{ role }}</h1>

    <table>
      {% for p in products %}
      <tr>
        <td>{{ p.name }}</td>
        <td>{{ p.price }} руб. </td>

        {% if role == 'admin' %}
        <td><button>Редактировать</button></td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>

 {% if orders %}
    <h2>Раздел заказов</h2>
    <table border="1">
      <tr>
        <th>ID</th>
        <th>Клиент</th>
        <th>Статус</th>
      </tr>
      {% for o in orders %}
      <tr>
        <td>{{ o.pk }}</td>
        <td>{{ o.receiver_name }}</td>
        <td>{{ o.status }}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}


  </body>
</html>
